<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EbayUIAutomationSuite" parallel="false">
    <test name="EbayAddToCartTest">
        <classes>
            <class name="tests.AddToCartTest"/>
            <class name="tests.CoinDeskAPITest"/>
        </classes>
    </test>
</suite>